In [1]:
!pip install mysql-connector-python

import pandas as pd
import numpy as np
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine
import mysql.connector

import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: mysql-connector-python in c:\users\evan\anaconda3\envs\dojo-env\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\evan\anaconda3\envs\dojo-env\lib\site-packages (from mysql-connector-python) (3.20.1)

In [2]:
basics_df = pd.read_csv(r"C:\Users\Evan\Documents\GitHub\IMDB\Data\title_basics.csv.gz")

In [3]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [4]:
## create a col with a list of genres
basics_df['genres_split'] = basics_df['genres'].str.split(',')
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History","[Drama, History]"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
81824,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
81825,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81826,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
81827,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81828,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [5]:
exploded_genres = basics_df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History",Drama
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History",History
...,...,...,...,...,...,...,...,...,...,...
81827,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
81827,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
81827,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
81828,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
81828,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [6]:
# Exploded the series using .explode () and take the .unique() entries only
genres_split = basics_df['genres'].str.split(",")

unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'History', 'Horror',
       'Sci-Fi', 'Biography', 'Mystery', 'Musical', 'Action', 'Adventure',
       'Crime', 'Thriller', 'Music', 'Animation', 'Family', 'War',
       'Sport', 'Western', 'Adult', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [7]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [8]:
# save just tconst and genres_split as new df
title_genres_df = exploded_genres[['tconst','genres_split']].copy()
title_genres_df.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0043139        Drama
1  tt0043139      History

In [9]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_id_map = dict(zip(unique_genres, genre_ints))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [10]:
## make new integer genre_id and drop string genres
title_genres_df['genre_id'] = title_genres_df['genres_split'].map(genre_id_map)
title_genres_df.head()

      tconst genres_split  genre_id
0  tt0035423       Comedy         5
0  tt0035423      Fantasy         9
0  tt0035423      Romance        18
1  tt0043139        Drama         7
1  tt0043139      History        11

In [11]:
# drop the genres split column
title_genres_df = title_genres_df.drop(columns= 'genres_split')

In [12]:
title_genres_df.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0043139         7
1  tt0043139        11

In [13]:
# Manually make dataframe with names cols from the .keyd and .values
genre_lookup = pd.DataFrame({'genre_name':genre_id_map.keys(),
                            'genre_id':genre_id_map.values()})
genre_lookup.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [14]:
with open('/Users/Evan/.secret/mysql.json') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['username', 'password'])

In [25]:
# Create a connection string using credentials following this format:
# connection = "dialect+driver://username:password@host:port/database"
database_name = "Movies"
connection_str = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/{database_name}"

In [29]:
# Create an instance of the sqlalchemy Engine Class 
engine = create_engine(connection_str)

In [30]:
engine

Engine(mysql+pymysql://root:***@localhost/Movies)

## Create SQL Tables

### title_basics SQL

In [17]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History","[Drama, History]"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"

In [18]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81829 entries, 0 to 81828
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81829 non-null  object
 1   titleType       81829 non-null  object
 2   primaryTitle    81829 non-null  object
 3   originalTitle   81829 non-null  object
 4   isAdult         81829 non-null  int64
 5   startYear       81829 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81829 non-null  int64
 8   genres          81829 non-null  object
 9   genres_split    81829 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 6.2+ MB

In [19]:
# Drop columns from the dataframe
basics_df = basics_df.drop(columns = ['titleType', 'originalTitle',
                                      'isAdult','genres','genres_split',])

In [20]:
basics_df.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0043139,Life of a Beijing Policeman,2013.0,NaN,120
2,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
3,tt0069049,The Other Side of the Wind,2018.0,NaN,122
4,tt0088751,The Naked Monster,2005.0,NaN,100

In [22]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81829 entries, 0 to 81828
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81829 non-null  object
 1   primaryTitle    81829 non-null  object
 2   startYear       81829 non-null  float64
 3   endYear         0 non-null      float64
 4   runtimeMinutes  81829 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.1+ MB

In [27]:
# Calculate max string lengths for object columns
key_len = basics_df['tconst'].fillna('').map(len).max()
title_len = basics_df['primaryTitle'].fillna('').map(len).max()
# Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [31]:
# Save to sql with dtype and index=False
basics_df.to_sql('title_basics',engine,
                 dtype = df_schema,
                 if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'movies'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)